<form [formGroup]="form"
      fxLayout="column">
    <button *ngIf="!isLonely()"
            mat-button
            (click)="setLonely()"
            class="lonely-btn">Ich bin heute einsam</button>

    <button *ngIf="isLonely()"
            mat-button
            (click)="unsetLonely()"
            class="lonely-btn">Ich bin nicht mehr einsam</button>

    <ng-container *ngIf="isLonely()">
        <div fxLayout="row"
             fxLayoutAlign="space-between">
            <mat-form-field>
                <input matInput
                       type="number"
                       placeholder="Alter von"
                       formControlName="meetUpAgeFrom">
            </mat-form-field>

            <mat-form-field>
                <input matInput
                       type="number"
                       placeholder="Alter bis"
                       formControlName="meetUpAgeTo">
            </mat-form-field>
        </div>

        <mat-form-field>
            <input matInput
                   type="number"
                   placeholder="Radius"
                   formControlName="radius">
        </mat-form-field>

        <button mat-button
                (click)="saveSettings()">Aktualisieren</button>

        <h3>Einsame Personen</h3>
        <app-lonely-person *ngFor="let lonelyPerson of lonelyPeople$ | async"
                           [profile]="lonelyPerson"></app-lonely-person>
    </ng-container>
</form>