<ul>
    <li *ngIf="!isUserSignedIn">
        <a routerLink="/sign-up">Registrieren</a>
    </li>
    <li *ngIf="!isUserSignedIn">
        <a routerLink="/sign-in">Anmelden</a>
    </li>
    <ng-container *ngIf="isUserSignedIn">
        <li>
            <a routerLink="/lonely">Lonely</a>
        </li>
        <li>
            <a routerLink="/profile">Mein Profil</a>
        </li>
        <li>
            <a href=""
               (click)="signOut()">Abmelden</a>
        </li>
    </ng-container>
</ul>

<mat-icon matBadge="4"
          matBadgeColor="warn">notifications</mat-icon>